.events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 16px;

  width: 80vw;
  max-width: 1300px;
  padding: 24px;
  border-radius: 5px;
  /* min-height: 80vh; */
}


@media (max-width: 850px){
  .events {    
    width: 96vw;
    padding: 0;    
  }
}  /*tablet*/



@media (max-width: 700px){
  .events {    
    width: 90vw;
    padding: 24px;    
  }
}  /*Celulares*/