.searchBar{  
  width: 80vw;

  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 16px 0 0 0;  
}

.searchInput{
  width: 60%;
  border: none;
  padding: 16px 10px;
  font-size: 1rem;
  outline: none;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  transition: 0.3s;
  color: #0f1f38;
  font-style: italic;    
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);   
}



@media (max-width: 850px){
  .eventItemContainer {    
    width: 90vw;
  }
  .searchInput{
    width: 90%;
  }
}  /*tablet*/
