.tabsContainer {
  display: flex;  
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tab {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  padding: 10px 20px;
}

.tab:hover {
  opacity: 0.8;
}

.active {
  border-bottom: 2px solid #fff;
}