.signUpFormContainer {
  max-width: 1300px;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-self: center;

  align-items: center;
  justify-content: center;

  /* padding: 30px; */
}

.signUpFormContainer h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
}

.signUpform {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 0 40px;
}

.signUpFormGroup {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.signUpFormGroup input,
.buttonsContainer button {
  padding: 10px 14px;
  outline: none;
  border: none;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

.buttonsContainer {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 0 0 ;
}

.buttonsContainer button {
  cursor: pointer;
  background-color: #e7472e;
  color: #fff;
  font-size: 1rem;
}

.overlay {
  background-color: red;  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(5px);   */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

@media (max-width: 850px) {
  .signUpFormGroup {
    flex-direction: column;
  }
  .buttonsContainer {
    width: 100%;
    justify-content: center;
  }

  .buttonsContainer button {
    width: 100%;
  }
} /*tablet*/
